<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddStudentServlet</servlet-name>
        <servlet-class>za.ac.tut.servlet.AddStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTestStaticsServlet</servlet-name>
        <servlet-class>za.ac.tut.servlet.GetTestStaticsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetStudentID</servlet-name>
        <servlet-class>za.ac.tut.servlet.GetStudentID</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>name_surnameServlet</servlet-name>
        <servlet-class>za.ac.tut.servlet.name_surnameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>studentsAgeServlet</servlet-name>
        <servlet-class>za.ac.tut.servlet.studentsAgeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddStudentServlet</servlet-name>
        <url-pattern>/AddStudentServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTestStaticsServlet</servlet-name>
        <url-pattern>/GetTestStaticsServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetStudentID</servlet-name>
        <url-pattern>/GetStudentID.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>name_surnameServlet</servlet-name>
        <url-pattern>/name_surnameServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studentsAgeServlet</servlet-name>
        <url-pattern>/studentsAgeServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <security-constraint>
        <display-name>TeacherConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>TeacherResources</web-resource-name>
            <description>Resources available to a teacher</description>
            <url-pattern>/add_student.jsp</url-pattern>
            <url-pattern>/findStudent.jsp</url-pattern>
            <url-pattern>/getTestStatics.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Enable authentication of teacher</description>
            <role-name>teacher </role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>StudentConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>StudentResources</web-resource-name>
            <description>Resources available to students</description>
            <url-pattern>/getStudentsAge.jsp</url-pattern>
        </web-resource-collection>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>FRealm</realm-name>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/loginError.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description>Can add,age,specificage</description>
        <role-name>teacher </role-name>
    </security-role>
    <security-role>
        <description>Can find ,specificname</description>
        <role-name>student</role-name>
    </security-role>
</web-app>
